<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/todo.js"></script>

    <title>{{ .title }}</title>
</head>

<body>
    <div class="todo-list-container p-10">
        <div>Joining...</div>
    </div>
    <script>
        function getAxiosResponseData(response) {
            return response.data.data;
        }

        window.addEventListener('load', async () => {
            const resData = await axios({
                method: 'post',
                url: '/api/v1/users/',
            })
            .then((response) => {
                return getAxiosResponseData(response);
            })
            .catch((err) => {
                console.error(err);
                location.href = '/auth/kakao/'
            });
        });
        location.href = '/'
    </script>
</body>

</html>